body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
}

label {
    font-size: 1.2em;
    margin-bottom: 8px;
}

input {
    padding: 8px;
    font-size: 1em;
    border-radius: 17px;
}

button {
    margin-top: 10px; /* Adiciona margem acima do botão */
    padding: 10px;
    font-size: 1em;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 17px;
    font-weight: bold;
}

button:hover {
    background-color: #2980b9;
}

#resultado {
    font-size: 1.2em;
    margin-top: 20px;
    color: #27ae60;
}
